.account-page {
    max-width: 1000px;
    margin: auto;
}

.account-section-container::after {
    content: "";
    display: table;
    clear: both;
}

.account-section {
    width: 50%;
    float: left;
}

.account-page-section {
    width: 50%;
    float: right;
}

.account-action-button {
    border-radius: 10px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.account-full-width {
    width: 100%;
}

.account-sc-button {
    border-radius: 10px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.is-hidden {
    display: none;
}

.td-body {
    padding-left: 15px;
    padding-right: 15px;
}

.td-left-section {
    text-align: left;
}

.td-right-section {
    text-align: right;
}