.create-account-buttons {
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

.ca-input-section {
    margin-top: 10px;
}

.ca-button-group {
    margin-top: 25px;
}

.cab-left {
    margin-right: 20px;
}