.register-page {
    padding-bottom: 25px;
    padding-top: 10px;

}

.register-page-contents {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.register-input-row {
    margin-bottom: 10px;
}

.register-input-row::after {
    content: "";
    display: table;
    clear: both;
}

.register-input-column {
    float: left;
    width: 46%;
    padding-right: 2%;
    padding-left: 2%;

}

.register-input-label {
    text-align: left;
    margin-bottom: 3px;
}

.register-input-div {
    position: relative;
}

.register-input {
    width: 100%;
}

.register-input-error {
    float: right;
    font-weight: bold;
}

.register-input-error-icon {
    /* Positioned at the right side */
   position: absolute;
    top: 0.8rem;
    right: 0;
    transform: translate(0, -50%);
    height: 1.2rem;

    z-index: 10;
}

.register-input-error-icon img {
    height: 90%;

}

.register-button {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .register-input-row {
        margin-bottom: 0;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    .register-input-column {
        margin-bottom: 10px;
        width: 92%;
        padding-left: 4%;
        padding-right: 4%;
    }
}