.nav-bar {
    background-color: var(--maincolor);
    color: var(--maintextcolor);
    padding: 0 15px;
}

.nav-body {
    display: flex;
    margin: auto;
    max-width: 1200px;

}

.nav-bar a {
    color: var(--maintextcolor);;
}

.left-content {
    left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--maintextcolor);
}

.header-title-box {
    display: inline-block;
    margin-left: 15px;
}

.title-headline {
    margin: 0;
}

.header-title {
    display: flex;
}

.header-main-title {
    text-decoration: underline ;
    text-decoration-thickness: 3px;
}

.header-image {
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: auto;
}

.right-content {
    margin-right: 0px;
    margin-left: auto;
}

.header-button {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 0 3px;
    border-style: solid;
    border-color: var(--maintextcolor);
    vertical-align: middle;
}



@media screen and (max-width: 600px) {
    .header-button {
        border-width: 3px;
        padding: 25px;
        margin-left: auto;
        margin-right: 0;
    }
    .header-button-group {
        float: right;
    }
    .right-content::after {
        content: "";
        display: table;
        clear: both;
    }
}