.narrow-page {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px 35px;
}

.wide-page {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-bottom: 25px;
    padding-top: 30px;
}

.bold-text {
    font-weight: bolder;
}

.clickable {
    cursor: pointer;
}

.display-tile {
    border-radius: 10px;
    padding: 10px;
}

.float-container::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.full-width {
    width: 100%;
}

.headline {
    font-family: Impact;
}

.hidden {
    display: none;
}


.line-space {
    margin-top: 10px;
}

.main-column {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
}

.minor-header {
    text-decoration: underline;
    font-weight: 800;
}

.border-bottom-secondary {
    border-bottom: 2px solid var(--secondarycolor);
}

.full-button {
    border-radius: 10px;
    cursor: pointer;
    display: block;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}

.half-button {
    width: 50%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
}

.small-padding-horizontal {
    padding-right: 10px;
    padding-left: 10px;
}

.small-spacing {
    margin: 10px;
}

.small-vertical-spacing {
    margin-top: 10px;
    margin-bottom: 10px;
}

.smaller-button {
    padding: 10px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.medium-button {
    padding: 15px 30px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}

.text-plain {
    text-decoration: none;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.wp-sub-column {
    float: left;
    width: 45%;
    margin: 10px 2%;
}

.error-toast {
    background-color: red;
    font-weight: 800;
}

@media screen and (max-width: 800px) and (min-width: 550px), (max-width: 400px) {
    .wp-sub-column {
        width: 95%;
    }
}

@media screen and (max-width: 550px) {
    .main-column {
        width: 95%;
    }

    .mobile-line {
        margin-top: 10px;
    }

}
