.wide-page {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-bottom: 25px;
}

.clickable {
    cursor: pointer;
}

.display-tile {
    border-radius: 10px;
    padding: 10px;
}

.float-container::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.hidden {
    display: none;
}

.input-row-collapsable {
    margin-bottom: 10px;
}


.input-column-collapsable {
    float: left;
    width: 46%;
    padding-right: 2%;
    padding-left: 2%;

}

.main-column {
    width: 50%;
}

.minor-header {
    text-decoration: underline;
    font-weight: 800;
}

.border-bottom-secondary {
    border-bottom: 2px solid var(--secondarycolor);
}

.full-button {
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.smaller-button {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.wp-sub-column {
    float: left;
    width: 45%;
    margin: 10px 2%;
}

@media screen and (max-width: 800px) and (min-width: 550px), (max-width: 400px) {
    .wp-sub-column {
        width: 95%;
    }
}

@media screen and (max-width: 550px) {
    .main-column {
        width: 95%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media screen and (max-width: 600px) {
    .input-row-collapsable {
        margin-bottom: 0;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    .input-column-collapsable {
        margin-bottom: 10px;
        width: 92%;
        padding-left: 4%;
        padding-right: 4%;
    }
}