.inputLabel {
    text-align: left;
    margin-bottom: 3px;
}

.inputDiv {
    position: relative;
}

.input {
    width: 100%;
    box-sizing: border-box;
}

.inputError {
    float: right;
    font-weight: bold;
}

.inputErrorIcon {
    /* Positioned at the right side */
    position: absolute;
    top: 0.8rem;
    right: 5px;
    transform: translate(0, -50%);
    height: 1.2rem;

    z-index: 10;
}

.inputErrorIcon img {
    height: 90%;

}
